name: Build KeePass QuickSearch

on:
  push:
    branches:
      - main
      - master
      - github-actions

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code with submodules
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Set up .NET Framework
      run: |
        choco install dotnet4.6.2 --no-progress --ignore-checksums
      shell: cmd
      
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
  
    - name: Build KeePass submodule
      run: |
        msbuild KeePass2.x/KeePass/KeePass_N48.csproj /p:Configuration=Release
      shell: cmd

    - name: Run the .bat file
      run: |
        .\CreatePlgx.bat
      shell: cmd
      
    - name: Archive the Release/QuickSearch.plgx file
      uses: actions/upload-artifact@v4
      with:
        name: QuickSearch-plgx
        path: Release/QuickSearch.plgx
